<!--Estilos comunes>
.btn-volver, .btn-cesta {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-volver:hover, .btn-cesta:hover {
    background-color: #45a049;
}

.cabecera {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.cabecera img {
    width: 150px;
    height: auto;
}

<!--Estilos categorías>
.contenedor-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.categoria {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
}

.categoria h2 {
    margin-top: 0;
    text-align: center;
}

.categoria:hover {
    background-color: #f0f0f0;
}

<!--Estilos productos>
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.info-producto {
    flex: 1;
    padding-right: 20px;
}

.imagen-producto img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.producto:hover {
    background-color: #f0f0f0;
}

<!--Estilos producto>
.detalle-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.detalle-producto .imagen {
    width: 300px; /* Ajusta según tus necesidades */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.detalle-producto .informacion {
    flex: 1; /* Ocupa el espacio restante */
}

.detalle-producto .btn-cesta {
    margin-top: 20px; /* Espacio sobre el botón */
}